.card {
	transition-duration: 0.3s;
	
	margin-left: -70px;
}
/*
.card:hover {
	transform: translateY(-20px);
}

.card:active {
	transform: translateY(-40px);
}*/
#container {
	margin-left:200px;
}
#hand-cards {
	height: 181px;
}
#discard-pile .card {
	position:absolute;
	top:0px;
	left:0px;
	margin-left:0 !important;
}
#discard-pile-top, #discard-pile-dummy-1, #discard-pile-dummy-2 {
	pointer-events: none;
}
ul {
	list-style-type: none;
}
li {
	list-style-type: none;
	float:left;
}

.select-colour {
	width: 412px;
	margin: 0 auto;
}

.select-colour span {
	width: 100px !important;
	height: 100px !important;
	display: inline-block;
	cursor: pointer;
}

.select-colour span:hover {
	opacity: 0.7;
	transition: ease 0.5s;
}